force-app/main/default/flows/CQ_RS_Bank_Auto_Populate_the_completion_date_AL_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Completion_date</name>
        <label>Assign Completion date</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>InRecord.CQ_RS_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletionDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_InRecord_to_OutRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_InRecord_to_OutRecord</name>
        <label>Assign InRecord to OutRecord</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>OutRecord.CQ_RS_Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InRecord.CQ_RS_Completion_Date__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>CompletionDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+10</expression>
    </formulas>
    <interviewLabel>Update the {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CQUI_RS_Auto Populate the completion date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Completion_date</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>InRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CQ_RS_SQX_Bank__c</objectType>
    </variables>
    <variables>
        <name>OutRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CQ_RS_SQX_Bank__c</objectType>
    </variables>
</Flow>
