force-app/main/default/flows/My_Bank_Transaction_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Decide_transaction_type</name>
        <label>Decide  transaction type</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>NA</defaultConnectorLabel>
        <rules>
            <name>Withdrawal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Withdrawal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_withdrawal</targetReference>
            </connector>
            <label>Withdrawal</label>
        </rules>
        <rules>
            <name>Deposit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transaction_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deposit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Deposit</targetReference>
            </connector>
            <label>Deposit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AccountBalanceafterdeposit</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Balance_from_account.Balance__c}+{!$Record.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AccountBalanceafterwithdrawal</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Balance_from_account.Balance__c}-{!$Record.Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>My Bank Transaction Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>My Bank Transaction Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Balance_from_account</name>
        <label>Get Balance from account</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decide_transaction_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.My_Accountss__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>My_Accounts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Make_Deposit</name>
        <label>Make Deposit</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.My_Accountss__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance__c</field>
            <value>
                <elementReference>AccountBalanceafterdeposit</elementReference>
            </value>
        </inputAssignments>
        <object>My_Accounts__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_withdrawal</name>
        <label>Make withdrawal</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.My_Accountss__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Balance__c</field>
            <value>
                <elementReference>AccountBalanceafterwithdrawal</elementReference>
            </value>
        </inputAssignments>
        <object>My_Accounts__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Balance_from_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Transaction_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </filters>
        <object>My_Transactions__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
